@import '~antd/dist/antd.css';
@import "typeface-roboto";

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
overflow-y: auto;
}


.ant-menu-horizontal {
  border-bottom: none;
  box-shadow: none;
  border: none;
  font-family: 'roboto';
}

.ant-menu-horizontal > .ant-menu-item {
  border-bottom: white !important;
 

}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
.slidingText{
  color: #FFC300;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
   border-top: 1px solid #FFC300;
   width: 30%;
   justify-content: center;
   display: flex;
   align-items: center;
}
.dividerStyle {
  justify-content: center;
  display: flex;
  align-items: center;
}


/* navbar */
.navbar {
  padding-bottom: 1px;
  /* border-bottom: solid 1px #e8e8e8; */
  background-color: white;
  /* box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.12),
    0 6px 16px -11px rgba(0, 0, 0, 0.08); */
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 99990;

}

.nav-header {
  background-color: white;
  border-bottom: 0;
  padding: 0 4px 0 24px;
}

.logo {
  width: 100px;
  float: left;
}

.logo a {
  display: inline-block;
  font-size: 20px;
  text-transform: capitalize;

}

.navbar-menu {
  width: calc(100% - 100px);
  float: left;

}
.navbar-menu .ant-layout-header {
  padding: 0 20px;

}

.navbar-menu .ant-menu-horizontal {
  border-bottom: 0;
}

.navbar-menu .ant-menu-item {
  padding-bottom: 0px;
}

.navbar-menu .leftMenu {
  float: left;
 margin-left: 2.7rem;
}

.navbar-menu .rightMenu {
  float: right;
}

.menuButton {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 14px;
  display: none;
  background: none;
  margin-right: 10px;
}

.ant-drawer-body {
  padding: 0;
  flex-direction: column;
  display: flex;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}



/*Responsive */ 
@media (max-width: 767px) {
  .menuButton {
    display: block;
    margin-right: 10px;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  .logo a {
    margin-left: 0px;
  }

  .ant-drawer-title > .brand-font {
    margin-bottom: 0;
  }

  .username {
    display: inline-block;
  }
  .downloadblubb {
  padding-left: 10rem;
  opacity: 75%;
  }
}


/*Animation*/ 
.downloadBubble {
  transform: scale(1);
  animation: pulse-black 2s infinite;
}
@keyframes pulse-black {
  0% {
    transform: scale(0.95);
  }
  
  70% {
    transform: scale(1);
  }
  
  100% {
    transform: scale(0.95);
  }
}